@model TiendaJK.Models.Producto

@{
    ViewData["Title"] = "Detalles";

    
    string imageFileName = "";
    switch (Model.Id)
    {


        case "66eb103f018c80eca2a98b1c":
            imageFileName = "galaxy book4 edg.png";
            break;

        case "66eb103f018c80eca2a98b1d":
            imageFileName = "fuji camara.png";
            break;

        case "66eb103f018c80eca2a98b1e":
            imageFileName = "iphone1.png";
            break;

        case "66eb103f018c80eca2a98b1f":
            imageFileName = "pc.png";
            break;

        case "66eb103f018c80eca2a98b20":
            imageFileName = "smartw.png";
            break;

        case "66eb103f018c80eca2a98b21":
            imageFileName = "tabA9.png";
            break;

        case "66eb103f018c80eca2a98b22":
            imageFileName = "auriculares.png";
            break;

        case "66eb103f018c80eca2a98b23":
            imageFileName = "televisor4k.png";
            break;

        case "66eb103f018c80eca2a98b24":
            imageFileName = "camaranikon.png";
            break;

        case "66eb103f018c80eca2a98b25":
            imageFileName = "drone.png";
            break;
            
        case "66eb103f018c80eca2a98b26":
            imageFileName = "altavozInteligente.png";
            break;

        case "66eb103f018c80eca2a98b27":
            imageFileName = "routerwifi.png";
            break;

        case "66eb103f018c80eca2a98b28":
            imageFileName = "proyector.png";
            break;

        case "66eb103f018c80eca2a98b29":
            imageFileName = "e-reader.png";
            break;

        case "66eb103f018c80eca2a98b2a":
            imageFileName = "camaradesegcurity.png";
            break;

        case "66eb103f018c80eca2a98b2b":
            imageFileName = "play5.png";
            break;

        case "66eb103f018c80eca2a98b2c":
            imageFileName = "ordenadorsobremesa.png";
            break;

        case "66eb103f018c80eca2a98b2d":
            imageFileName = "horno.png";
            break;

        case "66eb103f018c80eca2a98b2e":
            imageFileName = "cargadorsolar.png";
            break;

        case "66eb103f018c80eca2a98b2f":
            imageFileName = "sistema de sonido.png";
            break;

        case "66eb103f018c80eca2a98b30":
            imageFileName = "relojdespetador.png";
            break;

        case "66eb103f018c80eca2a98b31":
            imageFileName = "camaradeaccion.png";
            break;

        case "66eb103f018c80eca2a98b32":
            imageFileName = "discoduroext.png";
            break;

        case "66eb103f018c80eca2a98b33":
            imageFileName = "monitor1.png";
            break;

        case "66eb103f018c80eca2a98b34":
            imageFileName = "teclado.png";
            break;

        case "66eb103f018c80eca2a98b35":
            imageFileName = "ratonergono.png";
            break;

        case "66eb103f018c80eca2a98b36":
            imageFileName = "ventilador.png";
            break;

        case "66eb103f018c80eca2a98b37":
            imageFileName = "lampara led.png";
            break;

        case "66eb103f018c80eca2a98b38":
            imageFileName = "controls.png";
            break;

        case "66eb103f018c80eca2a98b39":
            imageFileName = "camaraweb.png";
            break;

        case "66eb103f018c80eca2a98b3a":
            imageFileName = "sistemagps.png";
            break;

        case "66eb103f018c80eca2a98b3b":
            imageFileName = "microfonousb.png";
            break;

        case "66eb103f018c80eca2a98b3c":
            imageFileName = "pizarradigital.png";
            break;

        case "66eb103f018c80eca2a98b3d":
            imageFileName = "camaranikon.png";
            break;

        case "66eb103f018c80eca2a98b3e":
            imageFileName = "camaranikon.png";
            break;

        case "66eb103f018c80eca2a98b3f":
            imageFileName = "camaranikon.png";
            break;

        case "66eb103f018c80eca2a98b40":
            imageFileName = "camaranikon.png";
            break;

        case "66eb103f018c80eca2a98b41":
            imageFileName = "camaranikon.png";
            break;

        case "66eb103f018c80eca2a98b42":
            imageFileName = "camaranikon.png";
            break;

        case "66eb103f018c80eca2a98b43":
            imageFileName = "camaranikon.png";
            break;

        case "66eb103f018c80eca2a98b44":
            imageFileName = "camaranikon.png";
            break;

        case "66eb103f018c80eca2a98b45":
            imageFileName = "camaranikon.png";
            break;

        case "66eb103f018c80eca2a98b46":
            imageFileName = "camaranikon.png";
            break;

        case "66eb103f018c80eca2a98b47":
            imageFileName = "camaranikon.png";
            break;

        case "66eb103f018c80eca2a98b48":
            imageFileName = "camaranikon.png";
            break;

        case "66eb103f018c80eca2a98b49":
            imageFileName = "camaranikon.png";
            break;

        case "66eb103f018c80eca2a98b4a":
            imageFileName = "camaranikon.png";
            break;

        case "66eb103f018c80eca2a98b4b":
            imageFileName = "camaranikon.png";
            break;

        case "66eb103f018c80eca2a98b4c":
            imageFileName = "camaranikon.png";
            break;

        case "66eb103f018c80eca2a98b4d":
            imageFileName = "camaranikon.png";
            break;

        case "66eb103f018c80eca2a98b4e":
            imageFileName = "camaranikon.png";
            break;

        case "66eb103f018c80eca2a98b4f":
            imageFileName = "camaranikon.png";
            break;

        case "66cece56063b6ac27103cd03":
            imageFileName = "camaranikon.png";
            break;

       

        default:
            imageFileName = "default.png"; 
            break;

    }
}

<h1>Detalles</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>

<div>
    <img src="~/images/@imageFileName" alt="@Model.Nombre" class="img-fluid" style="max-width: 570px; height: 300px;" />
</div>

<div>
    <a class="btn btn-warning" href="@Url.Action("Edit", new { id = Model.Id })">Editar <i class="bi bi-pencil"></i></a> |
    <a class="btn btn-info" href="@Url.Action("Index")"><i class="bi bi-reply-fill"></i> Regresar al índice</a>
</div>
