@model TiendaJK.Models.Producto

@{
    ViewData["Title"] = "Detalles";

    
    string imageFileName = "";
    switch (Model.Id)
    {


        case "66a86d70b23d5cb7279e4f4b":
            imageFileName = "galaxy book4 edg.png";
            break;

        case "66ea4e201c1ee17e4f78f48c":
            imageFileName = "smartw.png";
            break;
        case "66ea4e201c1ee17e4f78f489":
            imageFileName = "fuji camara.png";
            break;

        case "66ea4e201c1ee17e4f78f48a":
            imageFileName = "iphone1.png";
            break;

        case "66ea4e201c1ee17e4f78f488":
            imageFileName = "pc.png";
            break;



        case "66ea4e201c1ee17e4f78f48d":
            imageFileName = "tabA9.png";
            break;

        case "66ea4e201c1ee17e4f78f48e":
            imageFileName = "auriculares.png";
            break;

        case "66ea4e201c1ee17e4f78f48f":
            imageFileName = "televisor4k.png";
            break;

        case "66ea4e201c1ee17e4f78f490":
            imageFileName = "camaranikon.png";
            break;

            

        default:
            imageFileName = "default.png"; 
            break;

    }
}

<h1>Detalles</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>

<div>
    <img src="~/images/@imageFileName" alt="@Model.Nombre" class="img-fluid" style="max-width: 570px; height: 300px;" />
</div>

<div>
    <a class="btn btn-warning" href="@Url.Action("Edit", new { id = Model.Id })">Editar <i class="bi bi-pencil"></i></a> |
    <a class="btn btn-info" href="@Url.Action("Index")"><i class="bi bi-reply-fill"></i> Regresar al índice</a>
</div>
